<header>
  <div class="row">
    <div class="col-8">
      <h2>Itinerario</h2>
    </div>
    <div class="col-4" style="text-align: right;">
      <button type="button" class="btn btn-primary" (click)="openModal(template)">
        <img style="width: 1.3rem; margin-right: 0.4rem;" [src]="imgAdd"/>Nueva actividad
      </button>
    </div>
  </div>
</header>
<nav class="sidebar active">
  <h1>Landscape</h1>
</nav>
<main>
  <div class="container-drop" cdkDropListGroup>
    <div class="example-container" *ngFor="let item of list">
      <h3 class="title-drag">{{item.showDate || 'Sin fecha asignada'}} <span class="count"> ({{item.count}})</span></h3>
      <div
        cdkDropList
        [cdkDropListData]="item.task"
        class="example-list"
        (cdkDropListDropped)="drop($event, item, templateAlert)">
        <div class="example-box" *ngFor="let t of item.task" cdkDrag>
          <div style="width: 100%; display: flex;">
            <div class="col-8">
              <div class="title-box">{{t.title}}</div>
              <div>{{t.hourTask}}</div>
            </div>
            <div class="col-2">
              <button mat-icon-button (click)="viewTask(template, t)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div class="col-2">
              <button mat-icon-button (click)="deleteTask(templateConfirm, t)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<!--Modal-->
<ng-template #template>
  <div class="modal-header">
    <h4 id="dialog-child-name" class="modal-title pull-left"><img style="width: 1.3rem; margin-right: 0.4rem;" [src]="rowImage"/>Agregar nueva actividad</h4>
  </div>
  <div class="modal-body">
    <form #contactForm="ngForm">
      <div class="row">
        <div class="form-group space-form">
          <label for="name" class="text-label">Nombre de la actividad</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Busca una actividad o crea una nueva..." [(ngModel)]="formData.name" required>
        </div>
        <div *ngIf="modeModal==='create'" class="row space-date">
          <div class="col-6">
            <div class="form-group">
              <label for="startDate" class="text-label">Fecha de inicio</label>
              <div class="col-12">
                <input type="text"
                       id="startDate"
                       placeholder="Ingrese la fecha"
                       class="form-control"
                       (bsValueChange)="onDateChanged($event, 'start')"
                       [minDate]="minDate"
                       [maxDate]="maxDate"
                       bsDatepicker
                       [bsConfig]="configDateTimePicker">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="endDate" class="text-label">Fecha de finalizacion</label>
              <div class="col-12">
                <input type="text"
                       id="endDate"
                       placeholder="Ingrese la fecha"
                       class="form-control"
                       (bsValueChange)="onDateChanged($event, 'end')"
                       [minDate]="minDate"
                       [maxDate]="maxDate"
                       bsDatepicker
                       [bsConfig]="configDateTimePicker">
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="modeModal==='update'" class="row space-date">
          <div class="col-6">
            <div class="form-group">
              <label for="startDateEdit" class="text-label">Fecha de inicio</label>
              <div class="col-12">
                <input type="text"
                       id="startDateEdit"
                       placeholder="Ingrese la fecha"
                       class="form-control"
                       (bsValueChange)="onDateChanged($event, 'start')"
                       [minDate]="minDate"
                       [maxDate]="maxDate"
                       bsDatepicker
                       [bsValue]="formData.startDateEdit"
                       [bsConfig]="configDateTimePicker">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="endDateEdit" class="text-label">Fecha de finalizacion</label>
              <div class="col-12">
                <input type="text"
                       id="endDateEdit"
                       placeholder="Ingrese la fecha"
                       class="form-control"
                       (bsValueChange)="onDateChanged($event, 'end')"
                       [minDate]="minDate"
                       [maxDate]="maxDate"
                       bsDatepicker
                       [bsValue]="formData.endDateEdit"
                       [bsConfig]="configDateTimePicker">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
      </div>
      <div class="row footer-btn">
        <div class="col-12 container-btn">
          <button class="btn btn-light btn-modal" (click)="hideModal()">Cancelar</button>
          <button *ngIf="modeModal==='create' && !createUpdate" type="submit" class="btn btn-primary btn-modal" (click)="submitForm()">Agregar</button>
          <button *ngIf= "modeModal==='create' && createUpdate || modeModal==='update'" type="submit" class="btn btn-primary btn-modal" (click)="editTask()">Actualizar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #templateConfirm>
  <div class="modal-body text-center">
    <p>Estas seguro de eliminar la tarea? Si eliminas la tarea se borraran todas las tareas consecutivas en el itinerario</p>
    <button type="button" style="margin-right: 1rem" class="btn btn-light" (click)="declineDelete()" >No</button>
    <button type="button" class="btn btn-primary" (click)="confirmDelete()" >Sí</button>
  </div>
</ng-template>

<ng-template #templateAlert>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Advertencia</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    No se puede agregar la tarea en la columna debido a que ya existe otra tarea similar
  </div>
</ng-template>
