header {
  background-color: #ffffff;
  color: #000000;
  padding: 2rem 2rem 1rem;
  width: 80%;
  float: right;
  border-bottom: 2px solid #e0dfdf;
}
.sidebar {
  width: 20%;
  height: 100%;
  min-width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: var(--color-primary);
  color: #ffffff;
  transition: left 0.3s;
  text-align: center;
  padding-top: 2rem;
}

.sidebar.active {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  text-align: center;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.menu-toggle {
  //display: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 250px;
  transition: margin-left 0.3s;
  width: 80%;
  float: right;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}

//CSS Drag and Drop

.container-drop {
  margin: 3rem;
}

.title-drag, .title-box {
  font-weight: 600;
}

.count {
  color: #b4adad;
}

.example-container {
  width: 200px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

//Modal
.modal-content {
  height: 100%;
}

.footer-btn {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.container-btn {
  text-align: right;
}

.btn-modal {
  margin: 1rem;
  padding: 0.6rem 1.5rem;
}

.space-form {
  margin-top: 1rem;
}

.space-date {
  margin-top: 2rem;
}

.text-label {
  font-weight: 600;
  margin-bottom: 0.4rem;
}
