/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --color-primary: #1b61c8;
}

.modal-dialog {
  height: 100vh !important;
  width: 100vw !important;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #ffffff;
  float: right;
}

.modal-content {
  height: 100%;
}

.btn-primary {
  background: var(--color-primary);
}

.mat-typography h1 {
  font-size: 2rem;
}
